.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-base-300);
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.leftInnerContainer {
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: var(--clr-whiteish);
}

.rightInnerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}
.close-icon {
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.status-dot {
  display: inline-block;
  margin-right: 0.24em;
  height: 1em;
  width: 1em;
}

.disconnected {
  background: var(--clr-red);
}
