.chat-message {
  display: block;
  background-color: var(--clr-green);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.1em 0.4em;
  margin: 0.1em;
  width: fit-content;
  clear: both; /* OLD SKOOL MOVE TO RIGHT: */
  max-width: 90%;
}

.self-chat {
  background-color: var(--clr-blue-200);
  text-align: right;
  font-style: oblique;
  display: block;
  float: right; /* OLD SKOOL MOVE TO RIGHT: */
}

.self-chat .chat-meta {
  color: var(--clr-base-200);
}

.chat-meta {
  font-size: 70%;
}

.system-chat .chat-meta-username {
  font-weight: bold;
}

.chat-meta-time {
  font-style: italic;
}

.chat-text {
  margin: 0.1em;
}
