.chat-container {
  background: var(--clr-base);
  /* align-self: flex-end; */
  border: 1px solid #fff;
  border-radius: 5px;
  height: 60%;
  width: 45%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  /* bottom: 0.2rem; */
  /* right: 0.2rem; */
}
