.chats-container {
  background: var(--clr-base);
  width: 50%;
  height: 20rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  /* position: absolute; */
  /* bottom: 0.2rem; */
  /* right: 0.2rem; */
}

.chat-main-container {
  height: 70%;
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
