.welcomeOuterContainer {
  color: #fff;
  background-color: var(--clr-blackish);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeInnerContainer {
  width: 90%;
  height: 80vh;
  color: var(--clr-whiteish);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.heading {
  font-size: 2.5em;
}

.welcomeInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.button {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}
